body
{
	width: 600px;
 
}

.center
{
	margin-left: auto;
	margin-right: auto;
}

.float-left
{
	float: left;
}

.float-right
{
	float: right;
}

.fclear-left
{
	float: left;
	clear: left; 
}

.fclear-right
{
	float: right;
	clear: right; 
}

.metro
{
	padding: 1px;
	color: black;
	font-family: Segoe UI, sans-serif;
	text-shadow: 0 0 0;
}

.title
{
	padding-left: 5px;
	font-size: 1.5em;
}

.attendees
{
	padding-top: 23px;
	padding-right: 7px;
	font-size: 1.5em;
}

.time
{
	padding-right: 10px;
	font-size: 1.5em;
}

.summary
{
	padding-left: 5px;
	font-size: 0.85em;
}

div.button
{
	margin: 2px;
}

div.metro-close
{
	height: 90px;
	width: 90px;
	border: solid 5px #AAAAAA;
	background-color: #AAAAAA; 
}

div.metro-open
{
	height: 97px;
	width: 90px;
	border: solid 5px orange;
	border-bottom: 0px;
	margin-bottom: 0px;
}

div.metro-attending
{
	border: solid 5px green;
}

div.detail
{
	height: 200px;
	width: 308px;
	margin: 2px;
	background-color: orange;
	margin-top: 0px;
	position: relative;
}

div.check-mark
{
	height: 30px;
	width: 60px;
	background-color: green;
	position: absolute;
	top: 155px; /* Depends on div.detail height  detail.h - this.h - spacing*/
	left: 15px;
}

/*************/
/* CheckMark */
/*************/
#check:after
{
	/*Add another block-level blank space*/
	content:"\00a0";
	display:block;

	/*Make it a small rectangle so the border will create an L-shape*/
	width: 9px;
	height: 18px;

	/*Add a white border on the bottom and left, creating that 'L' */
	border: solid green;
	border-width: 0 6px 6px 0;

	/*Position it on top of the circle*/
	/*position:absolute;*/
	/*left: 28px;*/
	/*top: 40%;*/
	/*margin-top: -4px;*/

	/*Rotate the L 45 degrees to turn it into a checkmark*/
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}
