body
{
	width: 600px;
 
}

.center
{
	margin-left: auto;
	margin-right: auto;
}

.float-left
{
	float: left;
}

.float-right
{
	float: right;
}

.fclear-left
{
	float: left;
	clear: left; 
}

.fclear-right
{
	float: right;
	clear: right; 
}

.metro
{
	padding: 1px;
	color: black;
	font-family: Segoe UI, sans-serif;
}

.title
{
	padding-left: 5px;
	font-size: 1.5em;
}

.time
{
	padding-right: 10px;
	font-size: 1.5em;
}

.summary
{
	padding-left: 5px;
	font-size: 0.85em;
}

div.button
{
	margin: 2px;
}

div.metro-close
{
	height: 90px;
	width: 90px;
	border: solid 5px #AAAAAA;
	background-color: #AAAAAA; 
}

div.metro-open
{
	height: 97px;
	width: 90px;
	border: solid 5px orange;
	border-bottom: 0px;
	margin-bottom: 0px;
}

div.detail
{
	height: 60px;
	width: 308px;
	margin: 2px;
	background-color: orange;
	margin-top: 0px;
}